<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/333b36904c.js" crossorigin="anonymous" defer></script>

    <title>Clínica Cuidado Completo</title>
</head>

<body>
    <header class="header4">
        <a href="/templates/sobre.html" id="logo4"><img title="Bem-vindo a Clínica Cuidado Completo"
                src="/assets/images/v987-18a.jpg" alt="Logo"></a>
        <h1>Clínica Cuidado Completo</h1>
        <button id="openMenu"><i class="fa-solid fa-bars"></i></button>
        <nav id="menu">
            <button id="closeMenu">X</button>
            <a href="/templates/index.html">Inicio</a>
            <a href="/templates/horarios.html">Horários</a>
            <a href="/templates/sobre.html">Sobre</a>
            <a href="/templates/contato.html">Contato</a>

        </nav>
    </header>

    <main class="form-main">
        <div class="form-intro">
            <h2>Entre em Contato</h2>
            <p>Os telefones de contato (27) 2056-7233 - (27) 99118-5682</p>
            <p>Endereço completo da clínica: 100 Collingwood St, San Francisco, CA 94114</p>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.269569893594!2d-122.08424548487603!3d37.421999979812975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sGoogleplex!5e0!3m2!1sen!2sus!4v1636647789494!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <h2 class="form-title">Formulario de Contato</h2>
            <form class="form-form" action="#" method="post">
                
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>
    
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="subject">Assunto:</label>
                <input type="text" id="subject" name="subject" required>
    
                <label for="message">Mensagem:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
    
                <div class="button-container">
                    <button type="submit">Enviar</button>
                    <button type="reset">Limpar</button>
                </div>
            </form>
        </div>
    </main>
    

    <aside class="clinic-aside">
        <div class="aside-intro">
            <h3>Avisos sobre Consultas:</h3>
            <p>Marque com andecedência suas Consultas.</p>
            <h3>Como marco minhas Consulta?</h3>
            <p>Oferecemos serviços de agendamento pelo App Whatsapp, número de telefone ou através da nossa página de
                Contato.</p>
        </div>

    </aside>
    <footer class="footer4">
        <ul class="incons">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>

        </ul>
    </footer>
    <script src="/assets/js/script.js"></script>
</body>

</html>