<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/333b36904c.js" crossorigin="anonymous" defer></script>

    <title>Clínica Cuidado Completo</title>
</head>

<body>
    <header>
        <a href="/templates/sobre.html" id="logo"><img title="Bem-vindo a Clínica Cuidado Completo"
                src="/assets/images/v987-18a.jpg" alt="Logo"></a>
        <h1>Clínica Cuidado Completo</h1>
        <button id="openMenu"><i class="fa-solid fa-bars"></i></button>
        <nav id="menu">
            <button id="closeMenu">X</button>
            <a href="/templates/index.html">Inicio</a>
            <a href="/templates/horarios.html">Horários</a>
            <a href="/templates/sobre.html">Sobre</a>
            <a href="/templates/contato.html">Contato</a>

        </nav>
    </header>

    <main class="clinic-main">
        <div class="clinic-intro">
            <h1>Cuidando de Você em Todos os Aspectos</h1>
            <p>Nossa missão é oferecer um cuidado abrangente, indo além do tratamento de doenças para promover o
                bem-estar geral dos nossos pacientes. Com uma abordagem holística, dedicamo-nos a programas de prevenção
                e promoção da saúde, visando melhorar a qualidade de vida e prevenir problemas de saúde futuros.</p>
        </div>

        <div class="wellness-programs">
            <h2>Programas de Bem-Estar:</h2>

            <div class="program-section">
                <h3>Prevenção de Doenças</h3>
                <p>Desenvolvemos programas específicos para a prevenção de doenças com base nas necessidades individuais
                    de cada paciente. Realizamos avaliações de saúde regulares e oferecemos orientações personalizadas
                    para promover estilos de vida saudáveis.</p>
            </div>

            <div class="program-section">
                <h3>Promoção da Saúde Mental</h3>
                <p>Oferecemos suporte psicológico e emocional, incentivando práticas de autocuidado e estratégias para
                    lidar com o estresse. Realizamos workshops e sessões educativas para promover a saúde mental e o
                    equilíbrio emocional.</p>
            </div>

            <div class="program-section">
                <h3>Estilo de Vida Saudável</h3>
                <p>Fornecemos dicas práticas para incorporar hábitos saudáveis no dia a dia. Oferecemos orientações
                    sobre nutrição, exercícios físicos e gestão do sono para uma vida equilibrada.</p>
            </div>
        </div>
    </main>
    <aside class="clinic-aside">
        <div class="aside-intro">

            <h3>Notícias e Atualizações:</h3>
            <p>Mantenha-se Informado sobre as Últimas Novidades:</p>

            <h3>Avanços Médicos:</h3>
            <p>Mantemos nossos pacientes atualizados sobre os últimos avanços médicos e tratamentos inovadores.</p>


        </div>

    </aside>
    <footer>
        <ul class="incons">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>

        </ul>
    </footer>
    <script src="/assets/js/script.js"></script>
</body>

</html>