<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/333b36904c.js" crossorigin="anonymous" defer></script>

    <title>Clínica Cuidado Completo</title>
</head>

<body>
    <header class="header2">
        <a href="/templates/sobre.html" id="logo2"><img title="Bem-vindo a Clínica Cuidado Completo"
                src="/assets/images/v987-18a.jpg" alt="Logo"></a>
        <h1>Clínica Cuidado Completo</h1>
        <button id="openMenu"><i class="fa-solid fa-bars"></i></button>
        <nav id="menu">
            <button id="closeMenu">X</button>
            <a href="/templates/index.html">Inicio</a>
            <a href="/templates/horarios.html">Horários</a>
            <a href="/templates/sobre.html">Sobre</a>
            <a href="/templates/contato.html">Contato</a>

        </nav>
    </header>

    <main class="clinic-main">
        <div class="clinic-intro">
            <h1>Sobre Nós: Clínica Cuidado Completo</h1>
            <p>Bem-vindo à Clínica Cuidado Completo, onde a sua saúde e bem-estar são a nossa prioridade. Estamos
                comprometidos em oferecer um cuidado abrangente que vai além da simples gestão de doenças, abraçando uma
                abordagem holística para promover uma vida saudável e equilibrada.</p>
        </div>

        <div class="wellness-programs">
            <h2>Apresentação da Clínica Cuidado Completo:</h2>

            <div class="program-section">
                <h3>Missão, Visão e Valores:</h3>
                <p>Nossa missão é proporcionar cuidados de saúde de qualidade, focando na prevenção, diagnóstico preciso
                    e tratamentos eficazes. Visamos ser líderes na promoção de estilos de vida saudáveis, buscando
                    constantemente inovações para melhor atender às necessidades de nossos pacientes.

                    Nossos valores fundamentais incluem integridade, compaixão e respeito. Estamos comprometidos em
                    criar uma parceria de confiança com nossos pacientes, garantindo que cada jornada de saúde seja
                    personalizada e compreensiva.</p>
            </div>

            <div class="program-section">
                <h3>Compromisso com o Bem-Estar e Cuidado Abrangente:</h3>
                <p>Na Clínica Cuidado Completo, não apenas tratamos doenças; cuidamos das pessoas. Nosso compromisso vai
                    além do consultório médico, abrangendo a promoção de um estilo de vida saudável. Encorajamos hábitos
                    positivos, oferecemos programas de prevenção e apoiamos o equilíbrio emocional, porque entendemos
                    que a saúde é uma jornada completa.

                    Junte-se a nós na Clínica Cuidado Completo, onde sua saúde é nossa prioridade e seu bem-estar é a
                    nossa missão.</p>
            </div>

            <div class="program-section">
                <h3>Breve Biografia de Médicos, Especialistas e Equipe de Apoio:</h3>
                <p>Nossos médicos, especialistas e equipe de apoio não são apenas profissionais de saúde, são indivíduos
                    dedicados a proporcionar um atendimento compassivo e personalizado. Em nossas biografias,
                    compartilhamos não apenas as credenciais acadêmicas e profissionais, mas também as histórias e
                    paixões que nos tornam únicos.

                    Cada membro da equipe desempenha um papel vital, contribuindo para o ambiente acolhedor e
                    colaborativo que define a Clínica Cuidado Completo. Estamos aqui para ouvir, compreender e trabalhar
                    em conjunto para alcançar o melhor resultado possível para a sua saúde.

                    Confie na nossa equipe médica comprometida. Na Clínica Cuidado Completo, estamos aqui para cuidar de
                    você com conhecimento, experiência e compaixão em cada passo do caminho.</p>
            </div>
        </div>
    </main>
    <aside class="clinic-aside">
        <div class="aside-intro">
            <h3>Notícias e Atualizações:</h3>
            <p>Mantenha-se Informado sobre as Últimas Novidades:</p>
            <h3>Atualizações da Clínica e Eventos Especiais:</h3>
            <p>Compartilhamos regularmente notícias sobre eventos especiais, palestras e workshops oferecidos pela
                Clínica Cuidado Completo.</p>
        </div>

    </aside>
    <footer class="footer2">
        <ul class="incons">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>

        </ul>
    </footer>
    <script src="/assets/js/script.js"></script>
</body>

</html>